
.personMngbox{
    .personRowBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0;
    }
   .btnDelPer{
       width: 20px;
       height: 20px;
       border: none;
       background: url(../img/del.png) no-repeat 0;
       background-size: 20px;
   }
}
