
.personMngbox{
    .personRowBox{
        margin: 0;
        height: 35px;
        line-height: 34px;
        .txtName{
            width:80%;
            text-align: center;
            float: left;
            border-bottom: 1px solid rgb(221,221,221);            
        }
        .txtName:active{
            background-color: #ddd;
        }
        .boxBtn{
            width:20%;
            height: 35px;
            float: left;
        }
    }
   .btnDelPer{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 20px;
       height: 35px;
       border: none;
       background: url(../img/del.png) no-repeat 0;
       background-size: 20px;
   }
}
